name: packaging

on:
  #push:
  #  branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  #   types: [closed]
  workflow_dispatch:

env:
  # The .NET SDK version to use
  DOTNET_VERSION: "9.0.x"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Auth Github
        run: dotnet nuget update source github --username suzu-devworks --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text

      - name: Install Tools
        run: dotnet tool restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Pack
        run: dotnet pack --configuration Release --no-build -o artifacts/

      - name: Push
        run: |
          dotnet nuget update source github --username suzu-devworks --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text
          dotnet nuget push artifacts/*.nupkg --source "github" --skip-duplicate
